!!! 5
html(lang='en')
  head
    title Node.js Geolocation Map Example
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/960/960.css')
    link(rel='stylesheet', href='/stylesheets/960/text.css')
    link(rel='stylesheet', href='/stylesheets/960/reset.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js')
  body
    #wrapper.container_12
      header.grid_12
        h1 Node.js Geolocation Map Example
        p Using 
          a(href="http://nodejs.org/") Node.js   
          + 
          a(href="http://expressjs.com/") Express 
          + 
          a(href="http://socket.io/") Socket.io
      #main.grid_12!= body
      footer.grid_12
        #social
          a(href="http://www.128bitstudios.com/") 128-bit Studios
          a(href="http://www.twitter.com/amscotti")
            img(src="http://twitter-badges.s3.amazonaws.com/t_mini-a.png",alt="Follow amscotti on Twitter")	
          a(href="http://www.linkedin.com/in/amscotti")
            img(src="http://www.linkedin.com/img/webpromo/btn_in_20x15.png", width="20", height="15", alt="View Anthony Scotti's LinkedIn profile")